.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.875rem;
  min-width: 1.875rem;
  height: 1.875rem;
  min-height: 1.875rem;
  background: transparent;
  transition: all a50ms ease-in-out;
  border: 0;
  color: var(--gray-300);
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  border-radius: 4px;
  width: 1.5rem;
}

.root:not(:disabled):hover {
  color: var(--danger);
  background: var(--gray-400);
}

.root:disabled, .root:disabled:hover {
  cursor: not-allowed;
  opacity: 0.7;
}